fastapi==0.99.1
uvicorn==0.24.0
rasa==3.6.21
pandas==2.1.4
python-multipart==0.0.6
# pydantic==2.4.2
python-dotenv==1.0.0
spacy==3.7.2
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1.tar.gz
requests==2.31.0
pandas>=1.0 